<h2>Person: {{content.fullName}}</h2>

<ul class="form">
  <li>
    <label for="firstName">First Name:</label>
    {{view SC.TextField name="firstName" valueBinding="Contact.personController.firstName"}}
  </li>
  <li>
    <label for="lastName">Last Name:</label>
    {{view SC.TextField name="lastName" valueBinding="Contact.personController.lastName"}}
  </li>
</ul>

<div class="buttons">
  {{#view SC.Button action="cancel" classNames="button cancel"}}
    Cancel
  {{/view}}
  {{#view SC.Button action="save" classNames="button save"}}
    Save
  {{/view}}
</div>