{{#collection Contact.GroupsList contentBinding="Contact.groupsController.content"}}
  {{#view SC.Button action="showGroup"}}
    <h2>{{parentView.content.name}}</h2>
  {{/view}}
  {{collection Contact.PeopleList contentBinding=".parentView.content.people"}}
{{/collection}}
